# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Variabler_Metoder_klasser_Refactoring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
